[data-testid="stSidebar"]{
    margin-top : 30px;
    margin-bottom: 30px;
    margin-left:30px;
    background-color: #EFF1F9;
    border-radius: 30px;
}

[data-testid="stHeader"]{
    visibility: hidden;
}



.css-uf99v8.egzxvld5{
    background-color: #FFFFFF;
}

.css-1wrcr25.egzxvld6{
    background-color: #FFFFFF;
}

.css-1r6slb0{
    background-color: #D8D9F9;
    border-radius: 20px;
    padding: 30px 30px 10px 30px;
}

.css-keje6w.esravye1{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.css-keje6w.e1tzin5v1{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.css-1yycg8b{
    background-color: #D8D9F9;
    border-radius: 20px;
    padding: 30px 30px 10px 30px;
}


.css-m9mqwd{
    background-color: #D8D9F9;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
}

.css-1rrbo1k{
    background-color: #D8D9F9;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
}

.css-19pmq3u{
    background-color: #D8D9F9;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
}

.css-1bt9eao{
    padding: 0px 30px 30px 30px;
}
